// Foundation
//@import "normalize";
@import "compass/reset";
@import "../node_modules/bourbon/app/assets/stylesheets/_bourbon";
@import "1140";
@import "semantic-ui";


// Global Variables 
@import "global";

// Components
@import "toolbar";
@import "parallax";
@import "content";
@import "modal-signup";


// Generic 
.divider-bar {
	width: 75px;
	height: 2px;
	margin: 15px auto;
	background: $black;
	clear: both;
}

.pull-right {
	float: right;
}